// Palette
$blue-light-1: #e1e5eb;
$blue-light-2: #e4ebfd;
$blue-light-3: #f2f6ff;
$blue-light-4: #bac4e0;
$blue-light-5: #828ead;
$blue-1: #316cff;
$blue-2: #1551e5;
$blue-3: rgba(21, 81, 229, 0.44);
$blue-dark-1: #071435;
$blue-dark-2: #050d23;
$pink: #ff3d71;


// Control Colors
$divider-color: $blue-light-1;
$search-input-border-color: $blue-light-1;
$search-input-hover-border-color: $blue-light-5;
$search-input-active-border-color: $blue-2;
$search-input-shadow-border-color: $blue-light-4;
$blue-btn-background-color: $blue-2;
$blue-btn-hover-background-color: $blue-1;
$blue-btn-shadow-color: $blue-3;
$light-blue-btn-background-color: $blue-light-3;
$light-blue-btn-hover-background-color: $blue-light-2;
$checkbox-background-color: $blue-light-5;
$checkbox-active-background-color: $blue-2;
$amount-button-border-color: $blue-light-5;
$amount-button-hover-border-color: $blue-2;
$amount-button-shadow-color: $blue-light-4;
$accent-background: $pink;

// Text Colors
$search-field-placeholder-color: $blue-light-5;
$search-field-text-color: $blue-dark-2;
$light-blue-button-text-color: $blue-2;
$blue-link-text-color: $blue-2;
$text-color-dark: $blue-dark-1;
$text-color-light: $blue-light-5;
$text-color-accent: $pink;
$breadcrumbs-text-color: $blue-light-5;
$footer-text-color-dark: $blue-dark-2;
$footer-text-color-light: $blue-light-5;

// Transitions
$transition-duration: .4s;


