@font-face {
  font-family: 'gotham-pro';
  src: url('../assets/fonts/gotham-pro-light.eot');
  src: url('../assets/fonts/gotham-pro-light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/gotham-pro-light.woff') format('woff'),
  url('../assets/fonts/gotham-pro-light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../assets/fonts/gotham-pro-regular.eot');
  src: url('../assets/fonts/gotham-pro-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/gotham-pro-regular.woff') format('woff'),
  url('../assets/fonts/gotham-pro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../assets/fonts/gotham-pro-medium.eot');
  src: url('../assets/fonts/gotham-pro-medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/gotham-pro-medium.woff') format('woff'),
  url('../assets/fonts/gotham-pro-medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../assets/fonts/gotham-pro-bold.eot');
  src: url('../assets/fonts/gotham-pro-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/gotham-pro-bold.woff') format('woff'),
  url('../assets/fonts/gotham-pro-bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-pro';
  src: url('../assets/fonts/gotham-pro-black.eot');
  src: url('../assets/fonts/gotham-pro-black.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/gotham-pro-black.woff') format('woff'),
  url('../assets/fonts/gotham-pro-black.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}