@import './variables';

html, body {
    height: 100%;
}

body {
    margin: 0;
}

body, button, input {
    font-family: gotham-pro, serif;
    color: $text-color-dark;
}

button {
    border: 0 none;
    background: none;
    padding: 0;
}

a {
    text-decoration: none;
}